.mat-toolbar{
	background-image: url("../../../assets/img/toolbar.jpg");
}

.mat-toolbar{
	position: -webkit-sticky;
	top: 0;
	z-index: 1000;
}

.example-spacer {
  flex: 1 1 auto;
}

.layout{
	margin-left: 8px;
	margin-right: 8px;
}

.example-card {
  max-width: 400px;
}

img{
	background-size: cover;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
