<div class="layout">
	<button mat-button color="primary" matTooltip="Return" (click)="back()">
		<mat-icon>arrow_back</mat-icon>Return to Categories
	</button>
	<span class="example-spacer"></span>
	<span>{{title}}</span>
	<hr/>
	<mat-card class="example-card">
	  <mat-card-header>
		<mat-card-title>{{categorydetails.id}}</mat-card-title>
		<mat-card-subtitle>Created at {{categorydetails.created_at | date:"yyyy-MM-dd HH:mm:ss"}}</mat-card-subtitle>
	  </mat-card-header>
	  <img mat-card-image src="{{categorydetails.icon_url}}" alt="{{categorydetails.icon_url}}">
	  <mat-card-content>
		<mat-card-subtitle>Updated at {{categorydetails.updated_at | date:"yyyy-MM-dd HH:mm:ss"}}</mat-card-subtitle>
		<mat-card-title>{{categorydetails.value}}</mat-card-title>
		<a href="{{categorydetails.url}}">{{categorydetails.url}}</a>
	  </mat-card-content>
	</mat-card>

</div>

